body {
    margin: 0;
    font-family: "Poppins", sans-serif;
    background: linear-gradient(to bottom right, #e6e0fe, #fcf6d2);
}

/* LOGIN PAGE */
.login-page {
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 20px;
}

.card {
    background: white;
    border-radius: 20px;
    box-shadow: 0 10px 40px rgba(0,0,0,0.1);
    padding: 20px;
    width: 100%;
    max-width: 360px;
}

.login-header {
    text-align: center;
    margin-bottom: 25px;
}

.icon-circle {
    width: 60px;
    height: 60px;
    background: #4f46e5;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 auto 15px;
}

.subtitle {
    color: #666;
    font-size: 14px;
}

.form-group {
    margin-bottom: 15px;
}

label {
    font-size: 14px;
    color: #444;
}

input {
    width: 93%;
    padding: 12px;
    border-radius: 10px;
    border: 1px solid #ccc;
    margin-top: 5px;
    font-size: 15px;
}

.btn {
    width: 100%;
    padding: 12px;
    border: none;
    border-radius: 12px;
    font-weight: 600;
    cursor: pointer;
    margin-top: 10px;
}

.primary {
    background: #4f46e5;
    color: white;
}

.note {
    font-size: 12px;
    color: #666;
    text-align: center;
    margin-top: 10px;
}
